<body>
  <main>
    {{! Навігаційне меню }}
    <div class='row g-4'>
      <div class='col-12'>
        <div class='nav nav-tabs'>
          <div class='nav-item mb-3'>
            <a href='#' class='nav-link'>Home</a>
          </div>
          <div class='nav-item'>
            <a href='#' class='nav-link'>work</a>
          </div>
          <div class='nav-item'>
            <a href='#' class='nav-link'>study</a>
          </div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card'>
          <div class='card-body'>
            <div class='nav flex-column'>
              <div class='nav-item'>
                <div class='card'>
                  <a href='#' class='nav-link'>Home</a>
                </div>
              </div>
              <div class='nav-item'>
                <a href='#' class='nav-link'>work</a>
              </div>
              <div class='nav-item'>
                <a href='#' class='nav-link'>study</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! Побудова хлібних крихт }}
      <div class='col-8'>
        <div class='row'>
          <div class='col-12'>
            <ol class='breadcrumb'>
              <li class='breadcrumb-item'><a
                  href='#'
                >home</a></li>
              <li class='breadcrumb-item'><a href='#'>PC and
                  noutbook</a></li>
              <li class='breadcrumb-item'>Macbook</li>
            </ol>
          </div>

          <div class='col-12'>
            <h6>Hello world!
              <span
                class='badge text bg-primary rounded-pill'
              >NEW</span></h6>
          </div>
          {{! Виводить alert вікно }}
          <div class='alert alert-dark'>This is important
            info</div>
        </div>
      </div>
    </div>
  </main>
</body>