<body>
  <main>
    {{! Навігаційне меню }}
    <div class='row g-4'>
      <div class='col-12'>
        <div class='nav nav-tabs'>
          <div class='nav-item mb-3'>
            <a href='#' class='nav-link'>Home</a>
          </div>
          <div class='nav-item'>
            <a href='#' class='nav-link'>work</a>
          </div>
          <div class='nav-item'>
            <a href='#' class='nav-link'>study</a>
          </div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card'>
          <div class='card-body'>
            <div class='nav flex-column'>
              <div class='nav-item'>
                <div class='card'>
                  <a href='#' class='nav-link'>Home</a>
                </div>
              </div>
              <div class='nav-item'>
                <a href='#' class='nav-link'>work</a>
              </div>
              <div class='nav-item'>
                <a href='#' class='nav-link'>study</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{! Побудова хлібних крихт }}
      <div class='col-8'>
        <div class='row'>
          <div class='col-12'>
            <ol class='breadcrumb'>
              <li class='breadcrumb-item'><a
                  href='#'
                >home</a></li>
              <li class='breadcrumb-item'><a href='#'>PC and
                  noutbook</a></li>
              <li class='breadcrumb-item'>Macbook</li>
            </ol>
          </div>

          <div class='col-12'>
            <h6>Hello world!
              <span
                class='badge text bg-primary rounded-pill'
              >NEW</span></h6>
          </div>
          {{! Виводить alert вікно }}
          <div class='alert alert-dark'>This is important
            info</div>
        </div>
      </div>
    </div>
    {{! Створення input  }}

    <div class='row g-5'>
      <div class='col-12'>
        <label class='form-label'>Email address</label>
        <input class='form-control' />
        <div class='form-text text-danger'>Error. You need
          to set correct email</div>
      </div>

      <br /><hr />

      <div class='col-12'>
        <label class='form-lable'>Select role</label>
        <select class='form-select form-select-lg'>
          {{! form-select-lg вказує величину поля для вводу (lg/sm) }}
          <option value='1'>Admin</option>
          <option value='2'>User</option>
        </select>
      </div>

    </div>

    <br /><hr />

    <div class='row'>
      <div class='col-4'>
        <div class='form-label'>Select food</div>

        <div class='form-check'>
          <lable class='form-check-lable'>Apple</lable>
          <input
            type='checkbox'
            name='food'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <lable class='form-check-lable'>Orange</lable>
          <input
            type='checkbox'
            name='food'
            class='form-check-input'
          />
        </div>

        <div class='form-check'>
          <lable class='form-check-lable'>Banana</lable>
          <input
            type='checkbox'
            name='food'
            class='form-check-input'
          />
        </div>
      </div>

      <div class='col-4'>
        <div class='form-label'>Select food</div>
        <div class='form-check'>
          <lable class='form-check-lable'>Apple</lable>
          <input
            type='radio'
            name='food'
            class='form-check-input'
          />
        </div>
        <div class='form-check'>
          <lable class='form-check-lable'>Orange</lable>
          <input
            type='radio'
            name='food'
            class='form-check-input'
          />
        </div>
        <div class='form-check'>
          <lable class='form-check-lable'>Banana</lable>
          <input
            type='radio'
            name='food'
            class='form-check-input'
          />
        </div>
      </div>

      <div class='col-4'>
        <div class='form-check form-switch'>
          <lable class='form-check-lable'>Have bonus</lable>
          <input
            type='checkbox'
            name='food'
            class='form-check-input'
          />
        </div>
      </div>
    </div>
  </main>
</body>