<html>

  <head>
    <title>
      {{title}}
    </title>
    <meta charset='utf-8' />
    <link
      rel='stylesheet'
      href='/public/css/normalize.css'
    />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>

    {{{body}}}
  </body>
</html>